<cwFramework xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
             xmlns='http://xml.coreerp.com/schema/CwFramework'
             xsi:schemaLocation='http://xml.coreerp.com/schema/CwFramework http://coreerp.com/cwFramework.xsd'>

    <lookup id="Menu">
        <connectionType>
            <mainDB/>
        </connectionType>
        <sql>
            <command>
                SELECT menu_id, menu_text FROM sys.menu ORDER BY menu_text
            </command>
        </sql>
        <keyField id="menu_id"/>
    </lookup> 
</cwFramework>