<div class="row col-md-12">
    <div id="ss_head" class="row col-md-12" style="background-color: darkgreen;">
        <label class="col-2">Category</label>
        <input class="col-6" id="search" type="text"></input>
        <button class="searchButton" />
    </div>
    <div id="ss-cat-head" class="row" style="background-color: lightgreen;">
        
    </div>
    <div id="content" class="row col-md-12">
        <div class="col-2">
        </div>
        <div class="col-10">
            <ul id="st_list">
            </ul>
        </div>
    </div>
</div>
